@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* .scrollspy-button {
  position: fixed;
  bottom: 50px;
  right: 10px;
  background-color: hsl(204, 8%, 88%);
  color: white;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

/* .scrollspy-button:hover {
  background-color: #2980b9;
} */


.section-container {
    @apply max-w-screen-xl container mx-auto py-6 px-4;
  }

  body {
    @apply transition-colors duration-300;
  }
  
  .dark {
    @apply bg-gray-900 text-white;
  }

  .swiper-button-prev:after,
.swiper-button-next:after {
  @apply px-4 py-2 ring-1 ring-primary hover:text-white hover:bg-primary rounded-full bg-white text-black text-lg !important;
}